# Python specific
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.egg
*.egg-info
dist/
build/
*.py[cod]

# Django specific
.env
media/
staticfiles/
migrations/

# Docker specific
docker-compose.override.yml
docker-compose.local.yml

# IDE/editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Ignore secret files
.env
.pem

# Node.js specific
package-lock.json


